.party
  .pad-border-top
  .pad-border-left

  .pad-letter-left
  = render 'p'
  .pad-letter-right
  .pad-letter-between

  .pad-letter-left
  = render 'a'
  .pad-letter-right
  .pad-letter-between

  .pad-letter-left
  = render 'r'
  .pad-letter-right
  .pad-letter-between

  .pad-letter-left
  = render 't'
  .pad-letter-right
  .pad-letter-between

  .pad-letter-left
  = render 'y'
  .pad-letter-right
  .pad-letter-between

  .exclamation-mark
    .pad-letter-left
    = render 'exclamation_mark'
    .pad-letter-right

  .pad-border-right
  .pad-border-bottom


.next-party-link
  = link_to "next party >>", root_path
